<!DOCTYPE HTML>

<html>

<head>
    <title>Регистрация</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--[if lte IE 8]><script src="{{ url_for('static', filename='assets/js/ie/html5shiv.js') }}"></script><![endif]-->
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/main.css') }}" />
    <!--[if lte IE 9]><link rel="stylesheet" href="{{ url_for('static', filename='assets/css/ie9.css') }}" /><![endif]-->
    <!--[if lte IE 8]><link rel="stylesheet" href="{{ url_for('static', filename='assets/css/ie8.css') }}" /><![endif]-->
</head>

<body>

    <!-- Wrapper -->
    <div id="wrapper">

        <!-- Header -->
        <header id="header">
            <a href="/" class="button">
                <h1>CheckChain</h1>
            </a>
            <p>Новый подход к проверке аттестатов</p>
        </header>

        <!-- Main -->
        <form action="/registration" method="POST">
            {{ form.hidden_tag() }} {{ form.login(placeholder='Ваш логин', type='text') }}
            <br /> {% for error in form.errors.login %}
            <span style="color: red; font-size: 0.7rem; font-family:'Roboto Regular', arial;">{{ error }}</span>
            {% endfor %}
            <br> {{ form.password(placeholder='Ваш пароль', type='password') }}
            <br /> {% for error in form.errors.password %}
            <span style="color: red; font-size: 0.7rem; font-family:'Roboto Regular', arial;">{{ error }}</span>
            {% endfor %}
            <br> {{ form.confirmpass(placeholder='Подтвердите пароль', type='password') }}
            <br /> {% for error in form.errors.confirmpass %}
            <span style="color: red; font-size: 0.7rem; font-family:'Roboto Regular', arial;">{{ error }}</span>
            {% endfor %}
            <br>

            <p>
                <input align="center" type="submit" value="Зарегистрироваться">
            </p>
        </form>

        <!-- Footer -->
        <footer id="footer">
            <section>
                <h2>Что такое CheckChain?</h2>
                <p>Система верификации результатов оценки в публичном доступе с защитой от исправлений и подделок, упрощающая
                    взаимодействие студентов, учебных заведений и работодателей.</p>
                <ul class="actions">
                    <li>
                        <a href="/generic" class="button">Подробнее</a>
                    </li>
                </ul>
            </section>
            <section>
                <h2>Контакты</h2>
                <dl class="alt">
                    <dt>Телефон</dt>
                    <dd>+7 (977) 782-5849</dd>
                    <dt>Email</dt>
                    <dd>kryloffpaul@gmail.com</a>
                    </dd>
                </dl>
                <ul class="icons">

                    <li>
                        <a href="https://vk.com/ya_pozer" class="icon fa-vk alt">
                            <span class="label">VK</span>
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/pkryloff" class="icon fa-github alt">
                            <span class="label">github</span>
                        </a>
                    </li>
                </ul>
            </section>
            <p class="copyright">&copy; CheckChain 2018</p>
        </footer>

    </div>

    <!-- Scripts -->
    <script src="{{ url_for('static', filename='assets/js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/jquery.scrollex.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/jquery.scrolly.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/skel.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/util.js') }}"></script>
    <!--[if lte IE 8]><script src="{{ url_for('static', filename='assets/js/ie/respond.min.js') }}"></script><![endif]-->
    <script src="{{ url_for('static', filename='assets/js/main.js') }}"></script>

</body>

</html>